{{ define "main" }}

<div class="container">

    <div class="row topspace">
        <div class="col-sm-8 col-sm-offset-2">

            <article class="post">
                <header class="entry-header">
                    <h1 class="entry-title">Welcome</h1>
                </header>
                <div class="entry-content">
                    <p>Welcome to my page. Still a WIP!</p>
                    <p>Finally overcame my "Fear Of NOt Missing Out" (FONOMO) of having my own page.</p>
                </div>
            </article>

        </div>
    </div>

</div>

{{ end }}
